<div class="grid grid-cols-1 gap-4 p-4">
  <div>
    <h2 class="mt-0">Step Filters</h2>
  </div>
  
  <div class="grid grid-cols-12 xs-grid-cols-1 sm-grid-cols-6 md-grid-cols-12 gap-4 items-center">
    <div class="col-span-3 xs-col-span-1 sm-col-span-6 md-col-span-3">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="searchControl" placeholder="Search" autocomplete="off">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
    
    <div class="col-span-2 xs-col-span-1 sm-col-span-6 md-col-span-2 flex items-center">
      <mat-slide-toggle color="primary">Toggle</mat-slide-toggle>
    </div>
  </div>

  <mic-table class="table-stripped" [config]="tableConfig" [dataSource]="dataSource">
    <ng-container *micCellTemplate="let item; name: 'example'">
      {{ item.example }}
    </ng-container>
    
    <ng-container *micCellTemplate="let item; name: 'exampleUsage'">
      {{ item.exampleUsage }}
    </ng-container>
    
    <ng-container *micCellTemplate="let item; name: 'stepName'">
      {{ item.stepName }}
    </ng-container>
    
    <ng-container *micCellTemplate="let item; name: 'stepType'">
      <mic-status class="primary">{{ item.stepType }}</mic-status>
    </ng-container>
  </mic-table>

  <div class="flex justify-center mt-8">
    <img src="assets/images/cgi_logo.jpg" alt="CGI Logo" width="144" height="67">
  </div>
</div>